@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~sass-rem/rem";
@import "~slick-slider/slick/slick";
@import "mixins/utility";
@import "base/variables";
@import "base/fonts";
@import "base/reset";
@import "base/base";
@import "base/typography";
@import "components/buttons";
@import "components/modals";
@import "components/breadcrumbs";
@import "components/form";
@import "layout/header";
@import "layout/footer";

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #2A2C31;
}

.main-banner {
    margin-top: 85px;
    margin-bottom: 110px;

    &__item {
        position: relative;
        height: 456px;
        display: flex !important;
        align-items: center;
    }

    &__bg {
        position: absolute;
        overflow: hidden;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;

        &-img {
            width: 100%;
            min-height: 100%;
            min-width: 100%;
            object-fit: cover;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        padding-left: 161px;
        padding-right: 161px;
    }

    &__title {
        @extend %title-block;
        line-height: 125%;
        max-width: 583px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-top: 23px;
        margin-bottom: 32px;
    }

    &__button {
        @extend %btn-transparent;
    }

    .slick-arrow {
        position: absolute;
        z-index: 4;
        content: '';
        font-size: 0;
        width: 15px;
        height: 28px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../../assets/img/banner-ar.svg) center no-repeat;
    }

    .slick-prev {
        left: 45px;
    }

    .slick-next {
        right: 45px;
        transform: translateY(-50%) rotate(180deg);
    }
}

.main-about {
    &__title {
        max-width: 939px;
        @extend %title-block;
    }

    &__txt {
        line-height: 160%;
        max-width: 704px;
        margin-top: 25px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 39px;
    }

    &__image {
        width: 100%;
        min-width: 558px;
        position: relative;

        &-pic {
            max-width: 100%;
            object-fit: cover;
        }
    }

    &__content {
        padding: 90px 78px 90px 297px;
        margin-left: -220px;
        background: #F5F5F5;

        &-title {
            font-size: 26px;
            font-weight: 600;
            line-height: 160%;
        }

        &-txt {
            line-height: 160%;
            opacity: 0.7;
            margin-top: 29px;
            margin-bottom: 0;
        }
    }
}

.main-today {
    margin-top: 128px;
    margin-bottom: 120px;
    background: #fff;
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        @extend %title-block;
        min-width: 253px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 127px;
    }

    &__item {
        &-title {
            font-weight: 600;
            font-size: 50px;
            line-height: 150%;
            color: #3465A6;
        }

        &-txt {
            line-height: 150%;
            max-width: 266px;
            margin-bottom: 34px;
        }

        &-shape {
            width: 103px;
            height: 4px;
            background: #3465A6;
        }
    }
}

.ways {
    background: #F5F5F5;
    padding-top: 107px;
    padding-bottom: 114px;

    &__title {
        @extend %title-block;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -13px;
        margin-right: -13px;
    }

    &__item {
        background: #fff;
        height: 100%;
        border: 1px solid #D8D8D8;
        display: flex;
        align-items: center;

        &-wrapper {
            padding-left: 13px;
            padding-right: 13px;
            margin-top: 27px;
            width: 25%;
        }

        &-image {
            width: 62px;
            min-height: 100%;
            background: #3465A6;
            border-right: 1px solid #D8D8D8;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 16px;
            padding-right: 16px;

            img {
                width: 100%;
            }
        }

        &-txt {
            margin-bottom: 0;
            max-width: 141px;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            opacity: 0.7;
            margin-top: 9px;
        }

        &-title {
            font-size: 15px;
            line-height: 20px;
            font-weight: 600;
        }

        &-content {
            padding: 29px 29px;
        }
    }
}

.popular-news {
    margin-top: 121px;
    margin-bottom: 100px;

    &__row {
        display: flex;
        align-items: center;
    }

    &__content {
        max-width: 382px;
    }

    &__title {
        @extend %title-block;
    }

    &__txt {
        line-height: 160%;
        opacity: 0.7;
        margin-bottom: 0;
        margin-top: 25px;
    }

    &__button {
        @extend %btn-transparent;
        margin-top: 47px;
    }

    &__slider {
        &-wrapper {
            margin-right: -800px;
            padding-right: 800px;
            margin-left: 133px;
            overflow: hidden;
        }
    }
}

.news-slider {
    max-width: 385px;

    &__item {
        color: #fff;
        text-decoration: none;
        width: 100%;
        transition: .3s all;

        &:hover {
            color: #fff;

            .news-slider__item-overlay {
                background: #3465A6;
                opacity: 0.7;
            }
        }

        &-wrapper {
            padding-left: 17px;
            padding-right: 17px;
            width: 384px;
        }

        position: relative;
        height: 450px;
        display: inline-block;

        &-img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        &-content {
            position: relative;
            z-index: 3;
            padding: 36px 32px;
            height: 100%;
        }

        &-date {
            font-weight: 600;
            font-size: 14px;
            line-height: 143%;
            opacity: 0.7;
        }

        &-bottom {
            position: absolute;
            bottom: 39px;
            left: 32px;
            right: 32px;
        }

        &-title {
            font-weight: bold;
            font-size: 20px;
            line-height: 126%;
            max-width: 276px;
        }

        &-txt {
            margin-top: 18px;
            margin-bottom: 18px;
            font-weight: 600;
            font-size: 14px;
            line-height: 143%;
            opacity: 0.7;
        }

        &-more {
            font-weight: bold;
            font-size: 15px;
            line-height: 126%;

            i {
                margin-left: 10px;
            }
        }

        &-overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(42, 44, 49, 0) 0%, #2A2C31 100%);
            transition: .3s all;
        }
    }

    .slick-list {
        overflow: visible;
    }
}


.contacts {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        width: 100%;
        max-width: 983px;
        margin-left: -400px;
        padding-left: 400px;
        background: #F5F5F5;
        padding-top: 106px;
        padding-bottom: 106px;
        padding-right: 50px;

        &-row {
            display: flex;
            margin-top: 23px;
        }
    }

    &__title {
        @extend %title-block;
        max-width: 402px;
    }

    &__col {
        max-width: 171px;
        margin-right: 94px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__item {
        margin-top: 57px;

        &-title {
            line-height: 100%;
        }

        &-info {
            line-height: 150%;
            margin-top: 22px;
            display: inline-block;
            opacity: 0.7;

            &_link {
                line-height: 150%;
                color: #2A2C31;
                text-decoration: none;
                transition: .3s all;

                &:hover {
                    color: #3465A6;
                }
            }
        }

        &-viewmap {
            color: #3465A6;
            line-height: 100%;
            border-bottom: 1px dashed #3465A6;
            text-decoration: none;
        }
    }

    &__form {
        max-width: 511px;

        &-txt {
            line-height: 160%;
        }

        &-group {
            margin-top: 40px;
        }

        &-input {
            @extend %input-default;
        }

        &-submit {
            @extend %btn-fill;
        }
    }

    &_bg {
        .contacts__info {
            background: #3465A6 url(../../assets/img/contacts-bg.svg) right top no-repeat;
            color: #fff;

            a {
                color: #fff;
            }

            .contacts__item-viewmap {
                border-color: #fff;
            }
        }
    }
}


.our-help {
    margin-top: 120px;

    &__title {
        @extend %title-block;
        max-width: 830px;
    }
}

.categories {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -17px;
    margin-right: -17px;

    &__item {
        color: #fff;
        position: relative;
        display: block;
        text-decoration: none;
        height: 402px;
        padding: 58px 40px 35px 44px;

        &-wrapper {
            width: 33.333%;
            padding-left: 17px;
            padding-right: 17px;
            margin-bottom: 34px;
        }

        &-image {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;

            img {
                width: 100%;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                transition: .6s all;
            }
        }

        &-icon {
            position: relative;

            img {
                height: 74px;
                max-width: 100%;
            }
        }

        &-overlay {
            background: #3465A6;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0.85;
            transition: .6s all;
        }

        &-title {
            font-weight: bold;
            font-size: 16px;
            line-height: 160%;
            position: relative;
            text-transform: uppercase;
            margin-top: 43px;
        }

        &-content {
            z-index: 2;
        }

        &-more {
            position: absolute;
            bottom: 35px;
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;

            i {
                margin-right: 24px;
                transition: .3s all;
            }
        }

        &:hover {
            color: #fff;

            .categories__item-image img {
                transform: scale(1.1);
            }

            .categories__item-overlay {
                opacity: 0.92;
            }

            .categories__item-more i {
                margin-right: 40px;
            }
        }
    }
}

.blockquote {
    margin-top: 125px;
    padding-bottom: 163px;

    &__txt {
        font-size: 26px;
        line-height: 160%;
        padding-left: 50px;
        margin-bottom: 0;
        position: relative;

        &::before {
            width: 163px;
            z-index: -1;
            height: 211px;
            position: absolute;
            left: 0;
            content: '';
            top: 50%;
            transform: translateY(-50%);
            background: url(../../assets/img/bl-shape.svg) center no-repeat;
        }
    }

    &_quote {
        .blockquote__txt {
            padding-left: 107px;
        }

        .blockquote__txt::before {
            width: 56px;
            height: 56px;
            background: url(../../assets/img/quote.svg) center no-repeat;
            top: 5px;
            transform: none;
        }
    }
}

.product-category {
    margin-top: 120px;
    padding-top: 110px;
    padding-bottom: 80px;
    background: #F5F5F5;

    &__title {
        @extend %title-block;
    }
}


.page-404 {
    padding-top: 249px;
    padding-bottom: 249px;
    background: url(../../assets/img/404.png) center no-repeat;
    background-size: 1200px;
    text-align: center;

    &__title {
        font-weight: 600;
        font-size: 150px;
        line-height: 100%;
        color: #3465A6;
    }

    &__subtitle {
        margin-top: 24px;
        margin-bottom: 54px;
    }

    &__btn {
        @extend %btn-fill;
    }
}

.feedback {
    padding-bottom: 120px;

    &__title {
        @extend %title-block;
        margin-top: 50px;
    }

    &__row {
        margin-left: -17px;
        margin-right: -17px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    &__item {
        padding-left: 17px;
        padding-right: 17px;
        display: block;
        margin-bottom: 60px;
        color: #0B1F35;
        text-decoration: none;
        width: 33.333%;

        &-image {
            height: 524px;
            overflow: hidden;
            filter: drop-shadow(0px 103px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 12.8972px 10.0172px rgba(0, 0, 0, 0.015));

            img {
                min-width: 100%;
                width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }

        &-group {
            display: flex;
            margin-top: 30px;
        }

        &-icon {
            width: 55px;
            height: 55px;
            min-width: 55px;
            margin-right: 16px;
            border-radius: 50%;
            filter: drop-shadow(0px 60px 80px rgba(216, 216, 216, 0.33)) drop-shadow(0px 7.51293px 10.0172px rgba(216, 216, 216, 0.165));
            display: flex;
            background: #fff;
            justify-content: center;
            align-items: center;
        }

        &-name {
            font-size: 16px;
            line-height: 110%;
        }

        &-descr {
            font-size: 14px;
            line-height: 140%;
            max-width: 230px;
            color: #858F9A;
            margin-top: 9.5px;
        }
    }

    &__more {
        width: 100%;
        text-align: center;

        &-btn {
            @extend %btn-blue;
        }
    }
}

.article {
    background: url(../../assets/img/article-bg.jpg) top center no-repeat;
    background-size: 100%;
    padding-top: 50px;

    .breadcrumbs {
        margin-top: 0;
    }

    &__content {
        max-width: 995px;
        padding-bottom: 50px;
        border-bottom: 1px solid #DEE0E6;
        margin: 0 auto;

        h1 {
            @extend %title-block;
            max-width: 685px;
            margin-top: 58px;
            margin-bottom: 30px;
        }

        h2 {
            font-weight: 600;
            font-size: 26px;
            line-height: 140%;
            margin-bottom: 50px;
        }

        .date {
            display: inline-block;
            padding: 9px 13px;
            font-size: 15px;
            line-height: 18px;
            color: #3465A6;
            background: #F1F1F1;

            &+p {
                margin-top: 30px;
                font-size: 16px;
            }
        }

        p {
            line-height: 180%;
            margin-top: 50px;
            margin-bottom: 50px;
            max-width: 950px;
        }

        img {
            max-width: 100%;
        }
    }

    &__image-descr {
        font-size: 15px;
        line-height: 150%;
        opacity: 0.7;
        margin-top: 32px;
        text-align: center;
    }

    ul {
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
        list-style: none;

        li {
            padding-left: 26px;
            line-height: 180%;
            max-width: 944px;
            margin-top: 16px;
            position: relative;

            &:before {
                content: '';
                width: 8px;
                height: 8px;
                position: absolute;
                border-radius: 50%;
                background: #3465A6;
                left: 0;
                top: 12px;
            }

            &:nth-child(1) {
                margin: 0;
            }
        }
    }

    blockquote {
        margin-top: 65px;
        margin-bottom: 60px;
        background: #EFF6FF;
        padding: 48px 66px;
        font-size: 16px;
        line-height: 180%;

        span {
            display: block;
            opacity: 0.4;
            font-size: 16px;
            margin-top: 36px;
        }
    }

    .tags {
        display: flex;

        &__item {
            display: block;
            padding: 10px 16px;
            background: #EFF6FF;
            font-size: 15px;
            line-height: 100%;
            color: #2a2c316c;
            margin-right: 8px;

            &:nth-child(1) {
                color: #3465A6;
            }
        }
    }
}

.like-news {
    margin-top: 120px;

    &__title {
        font-weight: 600;
        font-size: 34px;
        line-height: 140%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__all {
        @extend %btn-transparent;
    }

    &__row {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        margin-left: -17px;
        margin-right: -17px;
    }

    &__item {
        &-wrapper {
            width: 33.333%;
            padding-left: 17px;
            padding-right: 17px;
        }
    }
}

.news-item {
    height: 485px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    position: relative;

    &__image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        overflow: hidden;
        bottom: 0;

        img {
            width: 100%;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            transition: .5s all;
        }
    }

    &__mainoverlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: .5s all;
        background: linear-gradient(0deg, rgba(42, 44, 49, 0.25), rgba(42, 44, 49, 0.25));
    }

    &__overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(73, 102, 176, 0) 0%, #303A53 100%);
        transition: .5s all;
    }

    &__top {
        position: relative;
        z-index: 2;
        padding-left: 34px;
        padding-right: 34px;
        padding-top: 37px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__date {
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        opacity: 0.7;
    }

    &__bottom {
        position: absolute;
        z-index: 2;
        left: 34px;
        right: 34px;
        bottom: 43px;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 126%;
        max-width: 276px;
    }

    &__txt {
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        color: #fff;
        opacity: 0.7;
        margin-top: 15px;
        margin-bottom: 0;
    }

    &__more {
        font-weight: 700;
        font-size: 15px;
        line-height: 126%;
        margin-top: 18px;

        i {
            margin-left: 10px;
            transition: .3s all;
        }
    }

    &__tags {
        display: flex;
        align-items: center;

        &-item {
            padding: 4px 7px;
            background: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(4px);
            font-size: 12px;
            line-height: 143%;
            color: #fff;
            margin-left: 6px;
        }
    }

    &:hover {
        color: #fff;

        .news-item__overlay {
            opacity: 0.8;
        }

        .news-item__image img {
            transform: scale(1.1);
        }

        .news-item__more i {
            margin-left: 40px;
        }
    }
}

.subscribe {
    margin-top: 120px;
    margin-bottom: 120px;

    &__row {
        display: flex;
        background: url(../../assets/img/subscribe.jpg) top center no-repeat;
        padding: 87px 130px;
    }

    &__title {
        @extend %title-block;
    }

    &__txt {
        font-weight: 500;
        font-size: 14px;
        line-height: 145%;
        max-width: 358px;
        margin-top: 26px;
        margin-bottom: 0;

        span {
            color: #3465A6;
        }
    }

    &__form {
        max-width: 493px;

        &-group {
            display: flex;
            align-items: center;
        }

        &-control {
            background: #FFFFFF;
            width: 314px;
            height: 50px;
            border: none;
            padding-left: 30px;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            color: #2a2c3170;
        }

        &-submit {
            margin-left: 20px;
            @extend %btn-fill;
        }

        &-txt {
            font-size: 12px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.3);
            margin-top: 25px;
        }
    }
}

.contacts-page {
    background: url(../../assets/img/contacts-bg.jpg) top center no-repeat;
    padding-bottom: 120px;
    &__wrapper {
        max-width: 1014px;
        margin: 0 auto;
    }
    &__title {
        @extend %title-block;
        margin-top: 65px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__col {
        max-width: 435px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        margin-top: 35px;
        display: flex;
        &_col12 {
            width: 100%;
        }
        &-icon {
            margin-right: 13px;
        }
        &-title {
            font-size: 16px;
            line-height: 100%;
            color: #2A2C31;
            opacity: 0.4;
        }
        &-info {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #2A2C31;
            text-decoration: none;
            display: inline-block;
            margin-top: 12px;
        }
    }
    &__socials {
        margin-top: 50px;
        width: 110px;
        display: flex;
        justify-content: space-between;
        &-item {
            text-decoration: none;
        }
    }
    &__meta {
        margin-top: 41px;
        font-size: 16px;
        line-height: 150%;
        color: #2A2C31;
        opacity: 0.4;
        min-width: 480px;
    }
    &__map {
        filter: drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0215656)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0178832)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0121168)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00843437));
        border-radius: 10px;
        margin-top: 78px;
        overflow: hidden;
        iframe {
            width: 100%;
            height: 480px;
        }
    }
}

.blog {
    &__title {
        @extend %title-block;
        margin-top: 50px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -17px;
        margin-right: -17px;
        margin-top: 25px;
    }
    &__item {
        &-wrapper {
            padding-left: 17px;
            padding-right: 17px;
            margin-top: 35px;
            width: 33.333%;
        }
    }
    &__buttons {
        text-align: center;
        margin-top: 77px;
        &-more {
            @extend %btn-blue;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    &__item {
        width: 42px;
        height: 48px;
        background: #EBEBEB;
        margin-left: 8px;
        margin-right: 8px;
        transition: .3s all;
        &:hover {
            background: #3465a68f;
            color: #fff;
            svg {
                path {
                    stroke: #fff;
                }
            }
        }
        &_active {
            background: #3465A6;
            color: #fff;
            svg {
                path {
                    stroke: #fff;
                }
            }
        }
    }
    &__more {
        width: 45px;
    }
}

.about-quote {
    padding-top: 81px;
    padding-bottom: 100px;
    background: url(../../assets/img/about-txt-bg.jpg) right top no-repeat;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-shape {
            width: 100%;
            max-width: 507px;
            height: 1px;
            background: #3465A6;
            opacity: 0.3;
            &_1 {
                margin-right: 62px;
            }
            &_2 {
                margin-left: 62px;
            }
        }
        &-image {
            background: #3465A6;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 61px;
            height: 61px;
            min-width: 61px;
        }
    }
    &__txt {
        max-width: 1054px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        text-align: center;
        font-weight: 500;
        font-size: 26px;
        line-height: 180%;
        &-link {
            color: #3465A6;
        }
    }
}


.about-cards {
    padding-bottom: 320px;
    background: url(../../assets/img/about-card-bg.png) left bottom no-repeat;
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -17px;
        margin-right: -17px;
    }
    &__item {
        overflow: hidden;
        box-shadow: 0px 38px 80px rgba(12, 29, 55, 0.02), 0px 15.8755px 33.4221px rgba(12, 29, 55, 0.0143771), 0px 8.4878px 17.869px rgba(12, 29, 55, 0.0119221), 0px 4.75819px 10.0172px rgba(12, 29, 55, 0.01), 0px 2.52704px 5.32008px rgba(12, 29, 55, 0.00807786), 0px 1.05156px 2.21381px rgba(12, 29, 55, 0.00562291);
        &-wrapper {
            width: 33.333%;
            padding-left: 17px;
            padding-right: 17px;
        }
        position: relative;
        height: 249px;
        &-img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
        }
        &-pic {
            min-width: 100%;
            min-height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &-content {
            position: relative;
            z-index: 2;
            padding: 32px 38px;
            color: #fff;
        }
        &-count {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px dashed #FFFFFF;
            border-radius: 50%;
        }
        &-txt {
            margin-top: 50px;
            max-width: 272px;
            font-weight: 500;
            font-size: 16px;
            line-height: 145%;
        }
        &-overlay {
            position: absolute; 
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #3465a6ce url(../../assets/img/about-overlay.png) right top no-repeat;
        }
    }
}


.about-documents {
    margin-top: -168px;
    padding-bottom: 120px;
    &__row {
        display: flex;
        align-items: center;
    }
    &__content {
        max-width: 382px;
        position: relative;
    }
    &__title {
        font-weight: 600;
        font-size: 34px;
        line-height: 140%;
    }
    &__txt {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        opacity: 0.7;
        margin-top: 25px;
    }
    &__slider {
        max-width: 414px;
        .slick-list {
            overflow: visible;
        }
        &-wrapper {
            margin-right: -1000px;
            padding-right: 1000px;
            padding-bottom: 300px;
            margin-bottom: -300px;
            padding-left: 113px;
            overflow: hidden;
        }
        &-item {
            padding-left: 17px;
            padding-right: 17px;
        }
        .slick-slide {
            opacity: 0;
            transition: .3s all;
            &.slick-active {
                opacity: 1;
                & + .slick-slide {
                    opacity: 1;
                }
                & + .slick-slide + .slick-slide {
                    opacity: 1;
                }
            }
        }
        &-image {
            overflow: hidden;
            filter: drop-shadow(0px 103px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 12.8972px 10.0172px rgba(0, 0, 0, 0.015));
            display: block;
            img {
                min-width: 100%;
                min-height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    &__nav {
        .slick-arrow {
            font-size: 0;
            width: 44px;
            height: 44px;
            background: #3465A6 url(../../assets/img/document-arrow_active.svg) center no-repeat;
            &:hover {
                background-color: #4379C0;
            }
            &:focus {
                background-color: #275086;
            }
            &.slick-disabled {
                background: #EDEDED url(../../assets/img/document-arrow.svg) center no-repeat;
            }
        }
        .slick-prev {
            transform: rotate(180deg);
            position: absolute;
            left: 0;
            bottom: -80px;
        }
        .slick-next {
            position: absolute;
            left: 136px;
            bottom: -80px;
        }
    }
    &__counter {
        display: flex;
        position: absolute;
        bottom: -65px;
        left: 60px;
        &-now {
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0.05em;
            color: #3465A6;
        }
        &-slash {
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0.05em;
            color: rgba(145, 153, 173, 0.5);
            margin-left: 4px;
            margin-right: 4px;
        }
        &-all {
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0.05em;
            color: rgba(145, 153, 173, 0.5);
        }
    }
}