@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~sass-rem/rem";
@import "~slick-slider/slick/slick";
@import "mixins/utility";
@import "base/variables";
@import "base/fonts";
@import "base/reset";
@import "base/base";
@import "base/typography";
@import "components/buttons";
@import "components/modals";
@import "components/breadcrumbs";
@import "components/form";
@import "layout/header";
@import "layout/footer";

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #2A2C31;
}

.main-banner {
    margin-top: 85px;
    margin-bottom: 110px;
    &__item {
        position: relative;
        height: 456px;
        display: flex!important;
        align-items: center;
    }
    &__bg {
        position: absolute;
        overflow: hidden;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        &-img {
            width: 100%;
            min-height: 100%;
            min-width: 100%;
            object-fit: cover;
        }
    }
    &__content {
        position: relative;
        z-index: 2;
        padding-left: 161px;
        padding-right: 161px;
    }
    &__title {
        @extend %title-block;
        line-height: 125%;
        max-width: 583px;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-top: 23px;
        margin-bottom: 32px;
    }
    &__button {
        @extend %btn-transparent;
    }
    .slick-arrow {
        position: absolute;
        z-index: 4;
        content: '';
        font-size: 0;
        width: 15px;
        height: 28px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../../assets/img/banner-ar.svg) center no-repeat;
    }
    .slick-prev {
        left: 45px;
    }
    .slick-next {
        right: 45px;
        transform: translateY(-50%) rotate(180deg);
    }
}

.main-about {
    &__title {
        max-width: 939px;
        @extend %title-block;
    }
    &__txt {
        line-height: 160%;
        max-width: 704px;
        margin-top: 25px;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 39px;
    }
    &__image {
        width: 100%;
        min-width: 558px;
        position: relative;
        &-pic {
            max-width: 100%;
            object-fit: cover;
        }
    }
    &__content {
        padding: 90px 78px 90px 297px;
        margin-left: -220px;
        background: #F5F5F5;
        &-title {
            font-size: 26px;
            font-weight: 600;
            line-height: 160%;
        }
        &-txt {
            line-height: 160%;
            opacity: 0.7;
            margin-top: 29px;
            margin-bottom: 0;
        }
    }
}

.main-today {
    margin-top: 128px;
    margin-bottom: 120px;
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        @extend %title-block;
        min-width: 253px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 127px;
    }
    &__item {
        &-title {
            font-weight: 600;
            font-size: 50px;
            line-height: 150%;
            color: #3465A6;
        }
        &-txt {
            line-height: 150%;
            max-width: 266px;
            margin-bottom: 34px;
        }
        &-shape {
            width: 103px;
            height: 4px;
            background: #3465A6;
        }
    }
}

.ways {
    background: #F5F5F5;
    padding-top: 107px;
    padding-bottom: 114px;
    &__title {
        @extend %title-block;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -13px;
        margin-right: -13px;
    }
    &__item {
        background: #fff;
        height: 100%;
        border: 1px solid #D8D8D8;
        display: flex;
        align-items: center;
        &-wrapper {
            padding-left: 13px;
            padding-right: 13px;
            margin-top: 27px;
            width: 25%;
        }
        &-image {
            width: 62px;
            min-height: 100%;
            background: #3465A6;
            border-right: 1px solid #D8D8D8;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 16px;
            padding-right: 16px;
            img {
                width: 100%;
            }
        }
        &-txt {
            margin-bottom: 0;
            max-width: 141px;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            opacity: 0.7;
            margin-top: 9px;
        }
        &-title {
            font-size: 15px;
            line-height: 20px;
            font-weight: 600;
        }
        &-content {
            padding: 29px 29px;
        }
    }
}

.popular-news {
    margin-top: 121px;
    margin-bottom: 100px;
    &__row {
        display: flex;
        align-items: center;
    }
    &__content {
        max-width: 382px;
    }
    &__title {
        @extend %title-block;
    }
    &__txt {
        line-height: 160%;
        opacity: 0.7;
        margin-bottom: 0;
        margin-top: 25px;
    }
    &__button {
        @extend %btn-transparent;
        margin-top: 47px;
    }
    &__slider {
        &-wrapper {
            margin-right: -800px;
            padding-right: 800px;
            margin-left: 133px;
            overflow: hidden;
        }
    }
}

.news-slider {
    max-width: 385px;
    &__item {
        color: #fff;
        text-decoration: none;
        width: 100%;
        transition: .3s all;
        &:hover {
            color: #fff;
            .news-slider__item-overlay {
                background: #3465A6;
                opacity: 0.7;
            }
        }
        &-wrapper {
            padding-left: 17px;
            padding-right: 17px;
            width: 384px;
        }
        position: relative;
        height: 450px;
        display: inline-block;
        &-img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        &-content {
            position: relative;
            z-index: 3;
            padding: 36px 32px;
            height: 100%;
        }
        &-date {
            font-weight: 600;
            font-size: 14px;
            line-height: 143%;
            opacity: 0.7;
        }
        &-bottom {
            position: absolute;
            bottom: 39px;
            left: 32px;
            right: 32px;
        }
        &-title {
            font-weight: bold;
            font-size: 20px;
            line-height: 126%;
            max-width: 276px;
        }
        &-txt {
            margin-top: 18px;
            margin-bottom: 18px;
            font-weight: 600;
            font-size: 14px;
            line-height: 143%;
            opacity: 0.7;
        }
        &-more {
            font-weight: bold;
            font-size: 15px;
            line-height: 126%;
            i {
                margin-left: 10px;
            }
        }
        &-overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(42, 44, 49, 0) 0%, #2A2C31 100%);
            transition: .3s all;
        }
    }
    .slick-list {
        overflow: visible;
    }
}


.contacts {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info {
        width: 100%;
        max-width: 983px;
        margin-left: -400px;
        padding-left: 400px;
        background: #F5F5F5;
        padding-top: 106px;
        padding-bottom: 106px;
        padding-right: 50px;
        &-row {
            display: flex;
            margin-top: 23px;
        }
    }
    &__title {
        @extend %title-block;
        max-width: 402px;
    }
    &__col {
        max-width: 171px;
        margin-right: 94px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__item {
        margin-top: 57px;
        &-title {
            line-height: 100%;
        }
        &-info {
            line-height: 150%;
            margin-top: 22px;
            display: inline-block;
            opacity: 0.7;
            &_link {
                line-height: 150%;
                color: #2A2C31;
                text-decoration: none;
                transition: .3s all;
                &:hover {
                    color: #3465A6;
                }
            }
        }
        &-viewmap {
            color: #3465A6;
            line-height: 100%;
            border-bottom: 1px dashed #3465A6;
            text-decoration: none;
        }
    }
    &__form {
        max-width: 511px;
        &-txt {
            line-height: 160%;
        }
        &-group {
            margin-top: 40px;
        }
        &-input {
            @extend %input-default;
        }
        &-submit {
            @extend %btn-fill;
        }
    }
    &_bg {
        .contacts__info {
            background: #3465A6 url(../../assets/img/contacts-bg.svg) right top no-repeat;
            color: #fff;
            a {
                color: #fff;
            }
            .contacts__item-viewmap {
                border-color: #fff;
            }
        }
    }
}


.our-help {
    margin-top: 120px;
    &__title {
        @extend %title-block;
        max-width: 830px;
    }
}

.categories {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -17px;
    margin-right: -17px;
    &__item {
        color: #fff;
        position: relative;
        display: block;
        text-decoration: none;
        height: 402px;
        padding: 58px 40px 35px 44px;
        &-wrapper {
            width: 33.333%;
            padding-left: 17px;
            padding-right: 17px;
            margin-bottom: 34px;
        }
        &-image {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;
            img {
                width: 100%;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                transition: .6s all;
            }
        }
        &-icon {
            position: relative;
            img {
                height: 74px;
                max-width: 100%;
            }
        }
        &-overlay {
            background: #3465A6;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0.85;
            transition: .6s all;
        }
        &-title {
            font-weight: bold;
            font-size: 16px;
            line-height: 160%;
            position: relative;
            text-transform: uppercase;
            margin-top: 43px;
        }
        &-content {
            z-index: 2;
        }
        &-more {
            position: absolute;
            bottom: 35px;
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
            i {
                margin-right: 24px;
                transition: .3s all;
            }
        }
        &:hover {
            color: #fff;
            .categories__item-image img {
                transform: scale(1.1);
            }
            .categories__item-overlay {
                opacity: 0.92;
            }
            .categories__item-more i {
                margin-right: 40px;
            }
        }
    }
}

.blockquote {
    margin-top: 125px;
    padding-bottom: 163px;
    &__txt {
        font-size: 26px;
        line-height: 160%;
        padding-left: 50px;
        margin-bottom: 0;
        position: relative;
        &::before {
            width: 163px;
            z-index: -1;
            height: 211px;
            position: absolute;
            left: 0;
            content: '';
            top: 50%;
            transform: translateY(-50%);
            background: url(../../assets/img/bl-shape.svg) center no-repeat;
        }
    }   
    &_quote {
        .blockquote__txt {
            padding-left: 107px;
        }
        .blockquote__txt::before {
            width: 56px;
            height: 56px;
            background: url(../../assets/img/quote.svg) center no-repeat;
            top: 5px;
            transform: none;
        }
    }
}

.product-category {
    margin-top: 120px;   
    padding-top: 110px;
    padding-bottom: 80px;
    background: #F5F5F5;
    &__title {
        @extend %title-block;
    }
}


.page-404 {
    padding-top: 249px;
    padding-bottom: 249px;
    background: url(../../assets/img/404.png) center no-repeat;
    background-size: 1200px;
    text-align: center;
    &__title {
        font-weight: 600;
        font-size: 150px;
        line-height: 100%;
        color: #3465A6;
    }
    &__subtitle {
        margin-top: 24px;
        margin-bottom: 54px;
    }
    &__btn {
        @extend %btn-fill;
    }
}

.feedback {
    padding-bottom: 120px;
    &__title {
        @extend %title-block;
        margin-top: 50px;
    }
    &__row {
        margin-left: -17px;
        margin-right: -17px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    &__item {
        padding-left: 17px;
        padding-right: 17px;
        display: block;
        margin-bottom: 60px;
        color: #0B1F35;
        text-decoration: none;
        width: 33.333%;
        &-image {
            height: 524px;
            overflow: hidden;
            filter: drop-shadow(0px 103px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 12.8972px 10.0172px rgba(0, 0, 0, 0.015));
            img {
                min-width: 100%;
                width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }
        &-group {
            display: flex;
            margin-top: 30px;
        }
        &-icon {
            width: 55px;
            height: 55px;
            min-width: 55px;
            margin-right: 16px;
            border-radius: 50%;
            filter: drop-shadow(0px 60px 80px rgba(216, 216, 216, 0.33)) drop-shadow(0px 7.51293px 10.0172px rgba(216, 216, 216, 0.165));
            display: flex;
            background: #fff;
            justify-content: center;
            align-items: center;
        }
        &-name {
            font-size: 16px;
            line-height: 110%;
        }
        &-descr {
            font-size: 14px;
            line-height: 140%;
            max-width: 230px;
            color: #858F9A;
            margin-top: 9.5px;
        }
    }
    &__more {
        width: 100%;
        text-align: center;
        &-btn {
            @extend %btn-blue;
        }
    }
}