<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

  <main class="innerpage" id="root">
    <section class="feedback">
        <div class="container">
            <div class="breadcrumbs">
                <a href="" class="breadcrumbs__link">
                    Главная
                </a>
                <span class="breadcrumbs__active">
                    Отзывы
                </span>
            </div>
            <h2 class="feedback__title">
                Отзывы наших клиентов
            </h2>
            <div class="feedback__row">
                <a href="" class="feedback__item">
                    <div class="feedback__item-image">
                        <img src="<%=require('@img/feedback.jpg') %>" alt="">
                    </div>
                    <div class="feedback__item-group">
                        <div class="feedback__item-icon">
                            <img src="<%=require('@img/company.png') %>" alt="">
                        </div>
                        <div class="feedback__item-info">
                            <div class="feedback__item-name">
                                ООО “Компания”
                            </div>
                            <p class="feedback__item-descr">
                                Consectetur ornare ultrices nunc elit, purus tempor.
                            </p>
                        </div>
                    </div>
                </a>
                <a href="" class="feedback__item">
                    <div class="feedback__item-image">
                        <img src="<%=require('@img/feedback.jpg') %>" alt="">
                    </div>
                    <div class="feedback__item-group">
                        <div class="feedback__item-icon">
                            <img src="<%=require('@img/company.png') %>" alt="">
                        </div>
                        <div class="feedback__item-info">
                            <div class="feedback__item-name">
                                ООО “Компания”
                            </div>
                            <p class="feedback__item-descr">
                                Consectetur ornare ultrices nunc elit, purus tempor.
                            </p>
                        </div>
                    </div>
                </a>
                <a href="" class="feedback__item">
                    <div class="feedback__item-image">
                        <img src="<%=require('@img/feedback.jpg') %>" alt="">
                    </div>
                    <div class="feedback__item-group">
                        <div class="feedback__item-icon">
                            <img src="<%=require('@img/company.png') %>" alt="">
                        </div>
                        <div class="feedback__item-info">
                            <div class="feedback__item-name">
                                ООО “Компания”
                            </div>
                            <p class="feedback__item-descr">
                                Consectetur ornare ultrices nunc elit, purus tempor.
                            </p>
                        </div>
                    </div>
                </a>
                <a href="" class="feedback__item">
                    <div class="feedback__item-image">
                        <img src="<%=require('@img/feedback.jpg') %>" alt="">
                    </div>
                    <div class="feedback__item-group">
                        <div class="feedback__item-icon">
                            <img src="<%=require('@img/company.png') %>" alt="">
                        </div>
                        <div class="feedback__item-info">
                            <div class="feedback__item-name">
                                ООО “Компания”
                            </div>
                            <p class="feedback__item-descr">
                                Consectetur ornare ultrices nunc elit, purus tempor.
                            </p>
                        </div>
                    </div>
                </a>
                <a href="" class="feedback__item">
                    <div class="feedback__item-image">
                        <img src="<%=require('@img/feedback.jpg') %>" alt="">
                    </div>
                    <div class="feedback__item-group">
                        <div class="feedback__item-icon">
                            <img src="<%=require('@img/company.png') %>" alt="">
                        </div>
                        <div class="feedback__item-info">
                            <div class="feedback__item-name">
                                ООО “Компания”
                            </div>
                            <p class="feedback__item-descr">
                                Consectetur ornare ultrices nunc elit, purus tempor.
                            </p>
                        </div>
                    </div>
                </a>
                <a href="" class="feedback__item">
                    <div class="feedback__item-image">
                        <img src="<%=require('@img/feedback.jpg') %>" alt="">
                    </div>
                    <div class="feedback__item-group">
                        <div class="feedback__item-icon">
                            <img src="<%=require('@img/company.png') %>" alt="">
                        </div>
                        <div class="feedback__item-info">
                            <div class="feedback__item-name">
                                ООО “Компания”
                            </div>
                            <p class="feedback__item-descr">
                                Consectetur ornare ultrices nunc elit, purus tempor.
                            </p>
                        </div>
                    </div>
                </a>
                <div class="feedback__more">
                    <button class="feedback__more-btn">
                        Больше отзывов
                    </button>
                </div>
            </div>
        </div>
    </section>
  </main>

  <%= require('@parts/footer.ejs')() %>