<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

  <main class="innerpage" id="root">
    <section class="main-about">
        <div class="container">
            <div class="breadcrumbs">
                <a href="" class="breadcrumbs__link">
                    Главная
                </a>
                <span class="breadcrumbs__active">
                    Лицензирование
                </span>
            </div>
            <div class="main-about__row">
                <div class="main-about__image">
                    <img src="<%=require('@img/main-about.png') %>" alt="" class="main-about__image-pic">
                </div>
                <div class="main-about__content">
                    <div class="main-about__content-wrapper">
                        <h2 class="main-about__content-title">
                            Лицензия РОСАТОМ
                        </h2>
                        <p class="main-about__content-txt">
                            Amet, aenean morbi massa vitae diam risus tellus aliquet. Consectetur ornare ultrices nunc elit, purus tempor. Commodo amet, nibh a et nibh. Ridiculus id morbi leo ut mi mi commodo rhoncus. Consectetur tristique cursus etiam diam fringilla. Amet est enim suspendisse mi sed gravida sit nisl dui. Amet, aenean morbi massa vitae diam risus tellus aliquet. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blockquote blockquote_quote">
        <div class="container">
            <p class="blockquote__txt">
                Amet, aenean morbi massa vitae diam risus tellus aliquet. Consectetur ornare ultrices nunc elit, purus tempor. Commodo amet, nibh a et nibh. Ridiculus id morbi leo ut mi mi commodo rhoncus. Consectetur tristique cursus etiam diam fringilla. Amet est enim suspendisse mi sed gravida sit nisl dui. Amet, aenean morbi massa vitae diam risus tellus aliquet. 
            </p>
        </div>
    </section>
    <section class="contacts contacts_bg">
        <div class="container">
            <div class="contacts__row">
                <div class="contacts__info">
                    <h2 class="contacts__title">
                        Свяжитесь с нами или оставьте заявку
                    </h2>
                    <div class="contacts__info-row">
                        <div class="contacts__col">
                            <div class="contacts__col-item contacts__item">
                                <div class="contacts__item-title">
                                    Адрес
                                </div>
                                <div class="contacts__item-info">
                                    67 West Street
                                    Suite 401
                                    Brooklyn, NY 11222
                                </div>
                            </div>
                            <div class="contacts__col-item contacts__item">
                                <a href="" class="contacts__item-viewmap">
                                    Посмотреть карту
                                </a>
                            </div>
                        </div>
                        <div class="contacts__col">
                            <div class="contacts__col-item contacts__item">
                                <div class="contacts__item-title">
                                    Телефон
                                </div>
                                <a href="tel: +7 (999) 999-99-99" class="contacts__item-info contacts__item-info_link">
                                    +7 (999) 999-99-99
                                </a>
                            </div>
                            <div class="contacts__col-item contacts__item">
                                <div class="contacts__item-title">
                                    E-mail
                                </div>
                                <a href="mailto: test@gmail.com" class="contacts__item-info contacts__item-info_link">
                                    test@gmail.com
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="" class="contacts__form">
                    <p class="contacts__form-txt">
                        Заполните необходимые поля, чтобы мы смогли легко связаться с вами и проконсультировать
                    </p>
                    <div class="contacts__form-group">
                        <input type="text" class="contacts__form-input" placeholder="Название компании" require>
                    </div>
                    <div class="contacts__form-group">
                        <input type="text" class="contacts__form-input" placeholder="Ваше имя" require>
                    </div>
                    <div class="contacts__form-group">
                        <input type="email" class="contacts__form-input" placeholder="Ваш E-mail" require>
                    </div>
                    <div class="contacts__form-group">
                        <input type="tel" class="contacts__form-input" placeholder="Телефон" require>
                    </div>
                    <div class="contacts__form-group">
                        <input type="text" class="contacts__form-input" placeholder="Комментарии">
                    </div>
                    <div class="contacts__form-group">
                        <button class="contacts__form-submit">
                            Отправить заявку
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    

    <section class="product-category">
        <div class="container">
            <h2 class="product-category__title">
                Другие направления категории
            </h2>
            <div class="product-category__row categories">
                <div class="categories__item-wrapper">
                    <a href="" class="categories__item">
                        <div class="categories__item-image">
                            <img src="<%=require('@img/categories.jpg') %>">
                            <div class="categories__item-overlay"></div>
                        </div>
                        <div class="categories__item-content">
                            <div class="categories__item-icon">
                                <img src="<%=require('@img/categories-1.svg') %>">
                            </div>
                            <div class="categories__item-title">
                                Лицензия на погрузо-разгрузочную деятельность (Ространснадзор) 
                            </div>
                            <div class="categories__item-more">
                                <i>
                                    <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.0754 23.4417H31.9245L23.3552 15.0756" stroke="white" stroke-width="1.03879"/>
                                        <path d="M23.2703 32.2003L28.0949 27.4972" stroke="white" stroke-width="1.03879"/>
                                        <circle cx="23.5" cy="23.5" r="23" stroke="white" stroke-dasharray="1 5"/>
                                    </svg>                                    
                                </i>
                                Подробнее
                            </div>
                        </div>
                    </a>
                </div>
                <div class="categories__item-wrapper">
                    <a href="" class="categories__item">
                        <div class="categories__item-image">
                            <img src="<%=require('@img/categories.jpg') %>">
                            <div class="categories__item-overlay"></div>
                        </div>
                        <div class="categories__item-content">
                            <div class="categories__item-icon">
                                <img src="<%=require('@img/categories-1.svg') %>">
                            </div>
                            <div class="categories__item-title">
                                Лицензия на погрузо-разгрузочную деятельность (Ространснадзор) 
                            </div>
                            <div class="categories__item-more">
                                <i>
                                    <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.0754 23.4417H31.9245L23.3552 15.0756" stroke="white" stroke-width="1.03879"/>
                                        <path d="M23.2703 32.2003L28.0949 27.4972" stroke="white" stroke-width="1.03879"/>
                                        <circle cx="23.5" cy="23.5" r="23" stroke="white" stroke-dasharray="1 5"/>
                                    </svg>                                    
                                </i>
                                Подробнее
                            </div>
                        </div>
                    </a>
                </div>
                <div class="categories__item-wrapper">
                    <a href="" class="categories__item">
                        <div class="categories__item-image">
                            <img src="<%=require('@img/categories.jpg') %>">
                            <div class="categories__item-overlay"></div>
                        </div>
                        <div class="categories__item-content">
                            <div class="categories__item-icon">
                                <img src="<%=require('@img/categories-1.svg') %>">
                            </div>
                            <div class="categories__item-title">
                                Лицензия на ЧиЦМ (металлолом черных
                                и цветных металлов)
                            </div>
                            <div class="categories__item-more">
                                <i>
                                    <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.0754 23.4417H31.9245L23.3552 15.0756" stroke="white" stroke-width="1.03879"/>
                                        <path d="M23.2703 32.2003L28.0949 27.4972" stroke="white" stroke-width="1.03879"/>
                                        <circle cx="23.5" cy="23.5" r="23" stroke="white" stroke-dasharray="1 5"/>
                                    </svg>                                    
                                </i>
                                Подробнее
                            </div>
                        </div>
                    </a>
                </div>
                <div class="categories__item-wrapper">
                    <a href="" class="categories__item">
                        <div class="categories__item-image">
                            <img src="<%=require('@img/categories.jpg') %>">
                            <div class="categories__item-overlay"></div>
                        </div>
                        <div class="categories__item-content">
                            <div class="categories__item-icon">
                                <img src="<%=require('@img/categories-1.svg') %>">
                            </div>
                            <div class="categories__item-title">
                                Лицензия на источники ионизирующего излучения 
                            </div>
                            <div class="categories__item-more">
                                <i>
                                    <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.0754 23.4417H31.9245L23.3552 15.0756" stroke="white" stroke-width="1.03879"/>
                                        <path d="M23.2703 32.2003L28.0949 27.4972" stroke="white" stroke-width="1.03879"/>
                                        <circle cx="23.5" cy="23.5" r="23" stroke="white" stroke-dasharray="1 5"/>
                                    </svg>                                    
                                </i>
                                Подробнее
                            </div>
                        </div>
                    </a>
                </div>
                <div class="categories__item-wrapper">
                    <a href="" class="categories__item">
                        <div class="categories__item-image">
                            <img src="<%=require('@img/categories.jpg') %>">
                            <div class="categories__item-overlay"></div>
                        </div>
                        <div class="categories__item-content">
                            <div class="categories__item-icon">
                                <img src="<%=require('@img/categories-1.svg') %>">
                            </div>
                            <div class="categories__item-title">
                                Лицензия <br>
                                на Реставрацию 
                            </div>
                            <div class="categories__item-more">
                                <i>
                                    <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.0754 23.4417H31.9245L23.3552 15.0756" stroke="white" stroke-width="1.03879"/>
                                        <path d="M23.2703 32.2003L28.0949 27.4972" stroke="white" stroke-width="1.03879"/>
                                        <circle cx="23.5" cy="23.5" r="23" stroke="white" stroke-dasharray="1 5"/>
                                    </svg>                                    
                                </i>
                                Подробнее
                            </div>
                        </div>
                    </a>
                </div>
                <div class="categories__item-wrapper">
                    <a href="" class="categories__item">
                        <div class="categories__item-image">
                            <img src="<%=require('@img/categories.jpg') %>">
                            <div class="categories__item-overlay"></div>
                        </div>
                        <div class="categories__item-content">
                            <div class="categories__item-icon">
                                <img src="<%=require('@img/categories-1.svg') %>">
                            </div>
                            <div class="categories__item-title">
                                Лицензия <br>
                                на подземные воды
                            </div>
                            <div class="categories__item-more">
                                <i>
                                    <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.0754 23.4417H31.9245L23.3552 15.0756" stroke="white" stroke-width="1.03879"/>
                                        <path d="M23.2703 32.2003L28.0949 27.4972" stroke="white" stroke-width="1.03879"/>
                                        <circle cx="23.5" cy="23.5" r="23" stroke="white" stroke-dasharray="1 5"/>
                                    </svg>                                    
                                </i>
                                Подробнее
                            </div>
                        </div>
                    </a>
                </div>
                <div class="categories__item-wrapper">
                    <a href="" class="categories__item">
                        <div class="categories__item-image">
                            <img src="<%=require('@img/categories.jpg') %>">
                            <div class="categories__item-overlay"></div>
                        </div>
                        <div class="categories__item-content">
                            <div class="categories__item-icon">
                                <img src="<%=require('@img/categories-1.svg') %>">
                            </div>
                            <div class="categories__item-title">
                                Лицензия РОСАТОМ
                            </div>
                            <div class="categories__item-more">
                                <i>
                                    <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.0754 23.4417H31.9245L23.3552 15.0756" stroke="white" stroke-width="1.03879"/>
                                        <path d="M23.2703 32.2003L28.0949 27.4972" stroke="white" stroke-width="1.03879"/>
                                        <circle cx="23.5" cy="23.5" r="23" stroke="white" stroke-dasharray="1 5"/>
                                    </svg>                                    
                                </i>
                                Подробнее
                            </div>
                        </div>
                    </a>
                </div>
                <div class="categories__item-wrapper">
                    <a href="" class="categories__item">
                        <div class="categories__item-image">
                            <img src="<%=require('@img/categories.jpg') %>">
                            <div class="categories__item-overlay"></div>
                        </div>
                        <div class="categories__item-content">
                            <div class="categories__item-icon">
                                <img src="<%=require('@img/categories-1.svg') %>">
                            </div>
                            <div class="categories__item-title">
                                Лицензия ФСТЭК 
                            </div>
                            <div class="categories__item-more">
                                <i>
                                    <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.0754 23.4417H31.9245L23.3552 15.0756" stroke="white" stroke-width="1.03879"/>
                                        <path d="M23.2703 32.2003L28.0949 27.4972" stroke="white" stroke-width="1.03879"/>
                                        <circle cx="23.5" cy="23.5" r="23" stroke="white" stroke-dasharray="1 5"/>
                                    </svg>                                    
                                </i>
                                Подробнее
                            </div>
                        </div>
                    </a>
                </div>
                <div class="categories__item-wrapper">
                    <a href="" class="categories__item">
                        <div class="categories__item-image">
                            <img src="<%=require('@img/categories.jpg') %>">
                            <div class="categories__item-overlay"></div>
                        </div>
                        <div class="categories__item-content">
                            <div class="categories__item-icon">
                                <img src="<%=require('@img/categories-1.svg') %>">
                            </div>
                            <div class="categories__item-title">
                                Лицензия МЧС 
                            </div>
                            <div class="categories__item-more">
                                <i>
                                    <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.0754 23.4417H31.9245L23.3552 15.0756" stroke="white" stroke-width="1.03879"/>
                                        <path d="M23.2703 32.2003L28.0949 27.4972" stroke="white" stroke-width="1.03879"/>
                                        <circle cx="23.5" cy="23.5" r="23" stroke="white" stroke-dasharray="1 5"/>
                                    </svg>                                    
                                </i>
                                Подробнее
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>



    <section class="popular-news">
        <div class="container">
            <div class="popular-news__row">
                <div class="popular-news__content">
                    <h2 class="popular-news__title">
                        Популярные новости
                    </h2>
                    <p class="popular-news__txt">
                        Amet, aenean morbi massa vitae diam risus tellus aliquet. Consectetur ornare ultrices nunc elit, purus tempor. Commodo amet, nibh a et nibh.
                    </p>
                    <a href="" class="popular-news__button">
                        Больше статей
                    </a>
                </div>
                <div class="popular-news__slider-wrapper">
                    <div class="popular-news__slider news-slider">
                        <div class="news-slider__item-wrapper">
                            <a href="#" class="news-slider__item">
                                <div class="news-slider__item-img">
                                    <img src="<%=require('@img/popular-1.jpg') %>" alt="">
                                    <div class="news-slider__item-overlay"></div>
                                </div>
                                <div class="news-slider__item-content">
                                    <div class="news-slider__item-date">
                                        25.10.2021
                                    </div>
                                    <div class="news-slider__item-bottom">
                                        <div class="news-slider__item-title">
                                            Сопровождение
                                            в получении лицензии. Что для этого нужно?
                                        </div>
                                        <p class="news-slider__item-txt">
                                            Quis mattis ut ac mauris quis. Tortor, ultricies vulputate lorem erat quis.
                                        </p>
                                        <div class="news-slider__item-more">
                                            Подробнее
                                            <i>
                                                <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.3536 4.35355C17.5488 4.15829 17.5488 3.84171 17.3536 3.64645L14.1716 0.464466C13.9763 0.269204 13.6597 0.269204 13.4645 0.464466C13.2692 0.659728 13.2692 0.976311 13.4645 1.17157L16.2929 4L13.4645 6.82843C13.2692 7.02369 13.2692 7.34027 13.4645 7.53553C13.6597 7.7308 13.9763 7.7308 14.1716 7.53553L17.3536 4.35355ZM0 4.5H17V3.5H0V4.5Z" fill="white"/>
                                                </svg>                                            
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="news-slider__item-wrapper">
                            <a href="#" class="news-slider__item">
                                <div class="news-slider__item-img">
                                    <img src="<%=require('@img/popular-1.jpg') %>" alt="">
                                    <div class="news-slider__item-overlay"></div>
                                </div>
                                <div class="news-slider__item-content">
                                    <div class="news-slider__item-date">
                                        25.10.2021
                                    </div>
                                    <div class="news-slider__item-bottom">
                                        <div class="news-slider__item-title">
                                            Сопровождение
                                            в получении лицензии. Что для этого нужно?
                                        </div>
                                        <p class="news-slider__item-txt">
                                            Quis mattis ut ac mauris quis. Tortor, ultricies vulputate lorem erat quis.
                                        </p>
                                        <div class="news-slider__item-more">
                                            Подробнее
                                            <i>
                                                <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.3536 4.35355C17.5488 4.15829 17.5488 3.84171 17.3536 3.64645L14.1716 0.464466C13.9763 0.269204 13.6597 0.269204 13.4645 0.464466C13.2692 0.659728 13.2692 0.976311 13.4645 1.17157L16.2929 4L13.4645 6.82843C13.2692 7.02369 13.2692 7.34027 13.4645 7.53553C13.6597 7.7308 13.9763 7.7308 14.1716 7.53553L17.3536 4.35355ZM0 4.5H17V3.5H0V4.5Z" fill="white"/>
                                                </svg>                                            
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="news-slider__item-wrapper">
                            <a href="#" class="news-slider__item">
                                <div class="news-slider__item-img">
                                    <img src="<%=require('@img/popular-1.jpg') %>" alt="">
                                    <div class="news-slider__item-overlay"></div>
                                </div>
                                <div class="news-slider__item-content">
                                    <div class="news-slider__item-date">
                                        25.10.2021
                                    </div>
                                    <div class="news-slider__item-bottom">
                                        <div class="news-slider__item-title">
                                            Сопровождение
                                            в получении лицензии. Что для этого нужно?
                                        </div>
                                        <p class="news-slider__item-txt">
                                            Quis mattis ut ac mauris quis. Tortor, ultricies vulputate lorem erat quis.
                                        </p>
                                        <div class="news-slider__item-more">
                                            Подробнее
                                            <i>
                                                <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.3536 4.35355C17.5488 4.15829 17.5488 3.84171 17.3536 3.64645L14.1716 0.464466C13.9763 0.269204 13.6597 0.269204 13.4645 0.464466C13.2692 0.659728 13.2692 0.976311 13.4645 1.17157L16.2929 4L13.4645 6.82843C13.2692 7.02369 13.2692 7.34027 13.4645 7.53553C13.6597 7.7308 13.9763 7.7308 14.1716 7.53553L17.3536 4.35355ZM0 4.5H17V3.5H0V4.5Z" fill="white"/>
                                                </svg>                                            
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="news-slider__item-wrapper">
                            <a href="#" class="news-slider__item">
                                <div class="news-slider__item-img">
                                    <img src="<%=require('@img/popular-1.jpg') %>" alt="">
                                    <div class="news-slider__item-overlay"></div>
                                </div>
                                <div class="news-slider__item-content">
                                    <div class="news-slider__item-date">
                                        25.10.2021
                                    </div>
                                    <div class="news-slider__item-bottom">
                                        <div class="news-slider__item-title">
                                            Сопровождение
                                            в получении лицензии. Что для этого нужно?
                                        </div>
                                        <p class="news-slider__item-txt">
                                            Quis mattis ut ac mauris quis. Tortor, ultricies vulputate lorem erat quis.
                                        </p>
                                        <div class="news-slider__item-more">
                                            Подробнее
                                            <i>
                                                <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.3536 4.35355C17.5488 4.15829 17.5488 3.84171 17.3536 3.64645L14.1716 0.464466C13.9763 0.269204 13.6597 0.269204 13.4645 0.464466C13.2692 0.659728 13.2692 0.976311 13.4645 1.17157L16.2929 4L13.4645 6.82843C13.2692 7.02369 13.2692 7.34027 13.4645 7.53553C13.6597 7.7308 13.9763 7.7308 14.1716 7.53553L17.3536 4.35355ZM0 4.5H17V3.5H0V4.5Z" fill="white"/>
                                                </svg>                                            
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="news-slider__item-wrapper">
                            <a href="#" class="news-slider__item">
                                <div class="news-slider__item-img">
                                    <img src="<%=require('@img/popular-1.jpg') %>" alt="">
                                    <div class="news-slider__item-overlay"></div>
                                </div>
                                <div class="news-slider__item-content">
                                    <div class="news-slider__item-date">
                                        25.10.2021
                                    </div>
                                    <div class="news-slider__item-bottom">
                                        <div class="news-slider__item-title">
                                            Сопровождение
                                            в получении лицензии. Что для этого нужно?
                                        </div>
                                        <p class="news-slider__item-txt">
                                            Quis mattis ut ac mauris quis. Tortor, ultricies vulputate lorem erat quis.
                                        </p>
                                        <div class="news-slider__item-more">
                                            Подробнее
                                            <i>
                                                <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.3536 4.35355C17.5488 4.15829 17.5488 3.84171 17.3536 3.64645L14.1716 0.464466C13.9763 0.269204 13.6597 0.269204 13.4645 0.464466C13.2692 0.659728 13.2692 0.976311 13.4645 1.17157L16.2929 4L13.4645 6.82843C13.2692 7.02369 13.2692 7.34027 13.4645 7.53553C13.6597 7.7308 13.9763 7.7308 14.1716 7.53553L17.3536 4.35355ZM0 4.5H17V3.5H0V4.5Z" fill="white"/>
                                                </svg>                                            
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </main>

  <%= require('@parts/footer.ejs')() %>