.header {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav {
        display: flex;
        list-style: none;
        &-item {
            margin-right: 42px;
            &:last-child {
                margin-right: 0;
            }
        }
        &-link {
            font-size: 15px;
            line-height: 18px;
            text-decoration: none;
            color: #2A2C31;
            transition: .3s all;
            &:hover {
                color:#3465A6;
            }
        }
    }
    &__contacts {
        text-align: right;
        &-phone {
            font-weight: 600;
            line-height: 20px;
            color: #3465A6;
            text-decoration: none;
            transition: .3s all;
            &:hover {
                border-bottom: 1px solid #3465A6;
            }
        }
        &-timework {
            color: rgba(42, 44, 49, 0.4);
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
        }
    }
}

.mob-nav {
    display: none;
}

.nav {
    background: #3465A6;
    position: relative;
    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        &-item {
            display: flex;
            align-items: center;
            padding-top: 25px;
            padding-bottom: 25px;
            &:last-child {
                border: none;
            }
            &:hover {
                .nav-dropdown {
                    opacity: 1;
                    left: 0;
                }
            }
        }
        &-link {
            max-width: 145px;
            height: 40px;
            display: flex;
            align-items: center;
            position: relative;
            font-size: 15px;
            line-height: 20px;
            color: #fff;
            text-decoration: none;
            &:hover {
                color: #cde3ff;
                &::before {
                    opacity: 1;
                }
            }
            &::before {
                content: '';
                left: 0;
                right: 0;
                bottom: -25px;
                background: #fff;
                height: 3px;
                position: absolute;
                display: inline-block;
                opacity: 0;
                transition: .3s all;
            }
        }
        &-wrapper {
            height: 40px;
            padding-left: 25px;
            padding-right: 25px;
            display: flex;
            align-items: center;
            border-right: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
    &-dropdown {
        position: absolute;
        left: -200vw;
        padding-top: 37px;
        width: 100vw;
        top: 90px;
        background: #fff;
        transition: .3s opacity;
        z-index: 10;
        padding-bottom: 70px;
        &__list {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            list-style: none;
            &-item {
                margin-top: 20px;
            }
            &-group {
                width: 33.333%;
            }
            &-link {
                display: inline-block;
                max-width: 342px;
                font-weight: 600;
                font-size: 13px;
                line-height: 140%;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #2A2C31;
                text-decoration: none;
            }
        }
        &__sublist {
            margin-top: 5px;
            padding: 0;
            list-style: none;
            &-item {
                margin-top: 10px;
            }
            &-link {
                font-size: 13px;
                line-height: 140%;
                color: #2A2C31;
                opacity: 0.7;
                display: inline-block;
                text-decoration: none;
            }
        }
    }
}

