<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        <%= title %>
    </title>

</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__row">
                <a href="" class="header__logo">
                    <svg width="109" height="62" viewBox="0 0 109 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_224_556)">
                        <path d="M45.6868 33.603L27.3385 15.3062L35.5026 7.15811L37.2659 8.91648L30.9068 15.2577L45.6868 29.8924L50.6019 25.3026L39.1195 13.8524L37.5436 15.4239L47.3738 25.2334L45.7979 26.8048L34.3085 15.3546L39.3 10.3772L59.009 30.0308L60.5848 28.4524L37.4325 5.36512L42.7155 0.0899955L49.1718 6.53506L55.7253 0L74.1847 18.4075L65.7221 26.8394L63.9241 25.0534L70.5678 18.4283L55.8155 3.71751L50.9768 8.54265L62.3135 19.8475L63.8546 18.3176L54.3507 8.84033L55.996 7.19272L67.3327 18.5045L62.4245 23.4058L42.6045 3.64136L40.8828 5.36512L64.1809 28.5978L59.1547 33.6099L52.4694 26.9433L45.6868 33.603Z" fill="#3566A7"/>
                        <path d="M14.1968 45.9502H20.8266C21.5285 45.9037 22.2326 45.9959 22.8986 46.2217C23.5646 46.4474 24.1793 46.8021 24.7073 47.2655C25.0363 47.5901 25.2944 47.9791 25.4652 48.408C25.6361 48.8369 25.716 49.2965 25.7001 49.7577C25.7159 50.452 25.5253 51.1355 25.1522 51.7219C24.7791 52.3083 24.2402 52.7715 23.6035 53.0529C25.3391 53.6483 26.547 54.6382 26.547 56.6874C26.547 59.3318 24.3672 60.7441 21.0626 60.7441H16.5155C15.9005 60.7441 15.3108 60.5005 14.8759 60.0668C14.4411 59.6332 14.1968 59.0451 14.1968 58.4319V45.9502ZM20.3268 52.1807C21.9998 52.1807 23.1037 51.4884 23.1037 50.1038C23.1037 48.9408 22.1734 48.2208 20.4934 48.2208H16.7446V52.153L20.3268 52.1807ZM21.0904 58.4111C22.8676 58.4111 23.9506 57.7188 23.9506 56.3343C23.9506 55.0882 22.9509 54.3475 20.896 54.3475H16.7307V58.4111H21.0904Z" fill="#3566A7"/>
                        <path d="M29.5044 45.9502H35.3498C38.8209 45.9502 40.9868 47.9163 40.9868 50.9415C40.9868 54.2575 38.321 55.9882 35.0582 55.9882H32.1077V59.0411C32.1077 59.4927 31.9278 59.9259 31.6075 60.2453C31.2873 60.5647 30.8529 60.7441 30.3999 60.7441H29.5044V45.9502ZM35.1415 53.6483C37.1131 53.6483 38.3419 52.5476 38.3419 50.9623C38.3419 49.2316 37.0923 48.3178 35.1415 48.3178H32.1077V53.6483H35.1415Z" fill="#3566A7"/>
                        <path d="M43.0003 53.3505C42.9755 51.8138 43.41 50.3046 44.2486 49.015C45.0871 47.7255 46.2916 46.7142 47.7087 46.1098C49.1258 45.5055 50.6912 45.3355 52.2055 45.6216C53.7198 45.9077 55.1144 46.6369 56.2115 47.7163C57.3087 48.7956 58.0588 50.1763 58.3662 51.6823C58.6736 53.1884 58.5243 54.7515 57.9375 56.1727C57.3507 57.5938 56.3529 58.8086 55.0713 59.6622C53.7896 60.5157 52.2821 60.9695 50.7409 60.9655C49.7293 60.9793 48.7251 60.7925 47.7865 60.416C46.848 60.0394 45.9938 59.4807 45.2736 58.7722C44.5535 58.0637 43.9816 57.2196 43.5914 56.2889C43.2011 55.3581 43.0002 54.3593 43.0003 53.3505ZM55.7809 53.3505C55.807 52.6724 55.6962 51.996 55.4551 51.3614C55.214 50.7268 54.8476 50.1469 54.3775 49.6562C53.9074 49.1655 53.3433 48.774 52.7186 48.5048C52.0939 48.2356 51.4214 48.0943 50.7409 48.0893C47.7904 48.0893 45.7355 50.4361 45.7355 53.3505C45.7104 54.029 45.8221 54.7056 46.064 55.3402C46.3058 55.9748 46.6729 56.5546 47.1435 57.0452C47.6142 57.5358 48.1787 57.9272 48.8038 58.1963C49.4288 58.4654 50.1017 58.6067 50.7825 58.6118C53.726 58.6118 55.7809 56.265 55.7809 53.3505Z" fill="#3566A7"/>
                        <path d="M61.6748 45.9502H64.2851V53.3921L70.6719 46.6563C70.8837 46.4362 71.1381 46.2613 71.4198 46.1423C71.7014 46.0233 72.0044 45.9627 72.3103 45.964H74.5388L68.3741 52.3053L74.8164 60.7372H72.6782C72.3608 60.7345 72.0481 60.6596 71.7642 60.518C71.4802 60.3764 71.2325 60.172 71.0399 59.9203L66.5899 54.0775L64.2851 56.4589V60.7441H61.6748V45.9502Z" fill="#3566A7"/>
                        <path d="M75.7466 53.3505C75.7218 51.8138 76.1564 50.3046 76.9949 49.015C77.8334 47.7255 79.038 46.7142 80.4551 46.1098C81.8721 45.5055 83.4376 45.3355 84.9518 45.6216C86.4661 45.9077 87.8607 46.6369 88.9579 47.7163C90.0551 48.7956 90.8051 50.1763 91.1125 51.6823C91.4199 53.1884 91.2707 54.7515 90.6839 56.1727C90.0971 57.5938 89.0993 58.8086 87.8176 59.6622C86.5359 60.5157 85.0284 60.9695 83.4872 60.9655C82.4744 60.984 81.4681 60.8004 80.5274 60.4256C79.5867 60.0507 78.7307 59.4922 78.0095 58.7827C77.2884 58.0733 76.7168 57.2273 76.3281 56.2944C75.9395 55.3616 75.7418 54.3607 75.7466 53.3505ZM88.5273 53.3505C88.5533 52.6724 88.4425 51.996 88.2014 51.3614C87.9604 50.7268 87.5939 50.1469 87.1238 49.6562C86.6538 49.1655 86.0897 48.774 85.465 48.5048C84.8403 48.2356 84.1677 48.0943 83.4872 48.0893C80.5368 48.0893 78.4819 50.4361 78.4819 53.3505C78.4558 54.0292 78.5668 54.7062 78.8083 55.3413C79.0498 55.9763 79.4169 56.5565 79.8877 57.0473C80.3585 57.5381 80.9234 57.9295 81.549 58.1983C82.1745 58.467 82.8478 58.6077 83.5289 58.6118C86.4724 58.6118 88.5273 56.265 88.5273 53.3505Z" fill="#3566A7"/>
                        <path d="M94.4143 45.9502H96.497C96.7033 45.9506 96.9062 46.0028 97.087 46.102C97.2678 46.2012 97.4206 46.3442 97.5314 46.5179L101.697 52.9491L105.862 46.5317C105.976 46.3538 106.133 46.2073 106.319 46.1057C106.504 46.0041 106.712 45.9506 106.924 45.9502H109.007V60.7441H106.404V50.1385L101.718 57.1096H101.634L96.9899 50.1869V60.7441H94.4143V45.9502Z" fill="#3566A7"/>
                        <path d="M2.61028 58.425V54.4513H8.85829C9.16761 54.4513 9.46426 54.3288 9.68298 54.1107C9.90171 53.8926 10.0246 53.5967 10.0246 53.2883V52.1253H2.61028V48.2762H9.88574C10.181 48.2762 10.4642 48.1598 10.6736 47.9522C10.883 47.7447 11.0016 47.463 11.0034 47.1686V45.9502H3.25591C2.3419 45.954 1.4663 46.3172 0.819184 46.9609C0.559311 47.2185 0.353135 47.5249 0.21254 47.8623C0.0719446 48.1997 -0.00028948 48.5616 8.71848e-07 48.927C8.71848e-07 51.0038 8.71848e-07 55.3859 8.71848e-07 57.5389C0.000443867 58.3397 0.317189 59.1082 0.881664 59.678C1.2212 60.0175 1.62488 60.2866 2.06935 60.4696C2.51382 60.6526 2.99026 60.7459 3.47112 60.7441H11.1076V59.5534C11.1076 59.4046 11.0781 59.2573 11.0208 59.1199C10.9635 58.9826 10.8795 58.8579 10.7737 58.753C10.6679 58.6481 10.5423 58.5652 10.4042 58.5089C10.2661 58.4526 10.1182 58.424 9.96905 58.425H2.61028Z" fill="#3566A7"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_224_556">
                        <rect width="109" height="62" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>                        
                </a>
                <ul class="header__nav">
                    <li class="header__nav-item">
                        <a href="" class="header__nav-link">
                            О компании
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="" class="header__nav-link">
                            Отзывы
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="" class="header__nav-link">
                            Блог
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a href="" class="header__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
                <div class="header__contacts">
                    <a href="tel:+7 (800) 190-80-50" class="header__contacts-phone">+7 (800) 190-80-50</a>
                    <div class="header__contacts-timework">
                        Ежедневно с 09:00 до 21:00
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="nav">
        <div class="container">
            <ul class="nav__list">
                <li class="nav__list-item">
                    <div class="nav__list-wrapper">
                        <a href="" class="nav__list-link">
                            Лицензирование
                        </a>
                    </div>
                    <div class="nav__list-dropdown nav-dropdown">
                        <div class="container">
                            <ul class="nav-dropdown__list">
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензирование Сопровождение в получении Лицензии <br>
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензирование Сопровождение в получении Лицензии <br>
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Сопровождение Вашей фирмы
                                            в сфере экологии
                                        </a>
                                        <ul class="nav-dropdown__sublist">
                                            <li class="nav-dropdown__sublist-item">
                                                <a href="" class="nav-dropdown__sublist-link">
                                                    Сопровождение Вашей фирмы в сфере
                                                    охраны труда и промышленной безопасности
                                                </a>
                                            </li>
                                            <li class="nav-dropdown__sublist-item">
                                                <a href="" class="nav-dropdown__sublist-link">
                                                    Разработка комплексной системы безопасности,
                                                    которая защищает Вашу компанию
                                                    от любых внешних и внутренних угроз.
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav__list-item">
                    <div class="nav__list-wrapper">
                        <a href="" class="nav__list-link">
                            Ростехнадзор
                        </a>
                    </div>
                    <div class="nav__list-dropdown nav-dropdown">
                        <div class="container">
                            <ul class="nav-dropdown__list">
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензирование Сопровождение в получении Лицензии <br>
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензирование Сопровождение в получении Лицензии <br>
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Сопровождение Вашей фирмы
                                            в сфере экологии
                                        </a>
                                        <ul class="nav-dropdown__sublist">
                                            <li class="nav-dropdown__sublist-item">
                                                <a href="" class="nav-dropdown__sublist-link">
                                                    Сопровождение Вашей фирмы в сфере
                                                    охраны труда и промышленной безопасности
                                                </a>
                                            </li>
                                            <li class="nav-dropdown__sublist-item">
                                                <a href="" class="nav-dropdown__sublist-link">
                                                    Разработка комплексной системы безопасности,
                                                    которая защищает Вашу компанию
                                                    от любых внешних и внутренних угроз.
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav__list-item">
                    <div class="nav__list-wrapper">
                        <a href="" class="nav__list-link">
                            Сертификация,<br> аудит, экспертиза 
                        </a>
                    </div>
                    <div class="nav__list-dropdown nav-dropdown">
                        <div class="container">
                            <ul class="nav-dropdown__list">
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензирование Сопровождение в получении Лицензии <br>
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензирование Сопровождение в получении Лицензии <br>
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Сопровождение Вашей фирмы
                                            в сфере экологии
                                        </a>
                                        <ul class="nav-dropdown__sublist">
                                            <li class="nav-dropdown__sublist-item">
                                                <a href="" class="nav-dropdown__sublist-link">
                                                    Сопровождение Вашей фирмы в сфере
                                                    охраны труда и промышленной безопасности
                                                </a>
                                            </li>
                                            <li class="nav-dropdown__sublist-item">
                                                <a href="" class="nav-dropdown__sublist-link">
                                                    Разработка комплексной системы безопасности,
                                                    которая защищает Вашу компанию
                                                    от любых внешних и внутренних угроз.
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav__list-item">
                    <div class="nav__list-wrapper">
                        <a href="" class="nav__list-link">
                            Экологическая<br> безопасность
                        </a>
                    </div>
                    <div class="nav__list-dropdown nav-dropdown">
                        <div class="container">
                            <ul class="nav-dropdown__list">
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензирование Сопровождение в получении Лицензии <br>
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензирование Сопровождение в получении Лицензии <br>
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Сопровождение Вашей фирмы
                                            в сфере экологии
                                        </a>
                                        <ul class="nav-dropdown__sublist">
                                            <li class="nav-dropdown__sublist-item">
                                                <a href="" class="nav-dropdown__sublist-link">
                                                    Сопровождение Вашей фирмы в сфере
                                                    охраны труда и промышленной безопасности
                                                </a>
                                            </li>
                                            <li class="nav-dropdown__sublist-item">
                                                <a href="" class="nav-dropdown__sublist-link">
                                                    Разработка комплексной системы безопасности,
                                                    которая защищает Вашу компанию
                                                    от любых внешних и внутренних угроз.
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav__list-item">
                    <div class="nav__list-wrapper">
                        <a href="" class="nav__list-link">
                            Аттестация <br>
                            и обучение
                        </a>
                    </div>
                    <div class="nav__list-dropdown nav-dropdown">
                        <div class="container">
                            <ul class="nav-dropdown__list">
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензирование Сопровождение в получении Лицензии <br>
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензирование Сопровождение в получении Лицензии <br>
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Сопровождение Вашей фирмы
                                            в сфере экологии
                                        </a>
                                        <ul class="nav-dropdown__sublist">
                                            <li class="nav-dropdown__sublist-item">
                                                <a href="" class="nav-dropdown__sublist-link">
                                                    Сопровождение Вашей фирмы в сфере
                                                    охраны труда и промышленной безопасности
                                                </a>
                                            </li>
                                            <li class="nav-dropdown__sublist-item">
                                                <a href="" class="nav-dropdown__sublist-link">
                                                    Разработка комплексной системы безопасности,
                                                    которая защищает Вашу компанию
                                                    от любых внешних и внутренних угроз.
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav__list-item">
                    <div class="nav__list-wrapper">
                        <a href="" class="nav__list-link">
                            Юридические <br> услуги
                        </a>
                    </div>
                    <div class="nav__list-dropdown nav-dropdown">
                        <div class="container">
                            <ul class="nav-dropdown__list">
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензирование Сопровождение в получении Лицензии <br>
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензирование Сопровождение в получении Лицензии <br>
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                                <div class="nav-dropdown__list-group">
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Сопровождение Вашей фирмы
                                            в сфере экологии
                                        </a>
                                        <ul class="nav-dropdown__sublist">
                                            <li class="nav-dropdown__sublist-item">
                                                <a href="" class="nav-dropdown__sublist-link">
                                                    Сопровождение Вашей фирмы в сфере
                                                    охраны труда и промышленной безопасности
                                                </a>
                                            </li>
                                            <li class="nav-dropdown__sublist-item">
                                                <a href="" class="nav-dropdown__sublist-link">
                                                    Разработка комплексной системы безопасности,
                                                    которая защищает Вашу компанию
                                                    от любых внешних и внутренних угроз.
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                    <li class="nav-dropdown__list-item">
                                        <a href="" class="nav-dropdown__list-link">
                                            Лицензия ФСТЭК
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>